<h1>Photo Carousel</h1>

  <div id="images">
    <img id="img3" src="https://www.maxim.com/.image/t_share/MTM1MTQzNDQzMjM5Mzc2MTQ2/placeholder-title.jpg" alt="Emily">
    <img id="img2" src="http://xczech.com/wp-content/uploads/2015/07/emili-ratajkovski.jpg" alt="Emily">
    <img id="img1" src="http://static.qnm.it/www/fotogallery/1200X0/186105/emily-ratajkowski-si-swimsuit-edition-2014-28.jpg" alt="Emily">
    <button id="previous">&#10094</button>
    <button id="next">&#10095</button>
  </div>
