<h1>Photo Carousel</h1>

<div id="container">
  <div id="images">
    <img src="http://static.qnm.it/www/fotogallery/1200X0/186105/emily-ratajkowski-si-swimsuit-edition-2014-28.jpg" alt="Emily">
    <img src="http://xczech.com/wp-content/uploads/2015/07/emili-ratajkovski.jpg" alt="Emily">
    <img src="http://xczech.com/wp-content/uploads/2015/07/emili-ratajkovski.jpg" alt="Emily">
  </div>
</div>
