// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fc636b;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: sans-serif;
  margin-top: 80px;
  color: white;
  margin-bottom: 30px;
}

img {
  width: 720px;
  border: solid 10px white;
  display: none;
}

#images {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 720px;
  height: 480px;
  margin: auto;
}

#container {
}
